apiVersion: v1
kind: Service
metadata:
  name: azure-vote-back
  namespace: backend
spec:
  ports:
  - port: 6379
  selector:
    app: azure-vote-back
---
apiVersion: v1
kind: Service
metadata:
  name: azure-vote-front
  namespace: frontend
spec:
  type: NodePort
  ports:
  - port: 80
  selector:
    app: azure-vote-front